<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>Trippediacity - <%= title %></title>
<link href="/public/assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">

<!-- Bootstrap -->
<link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<!-- jQuery UI -->
<!--<link href="plugins/jquery-ui/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />-->
<!--[if lt IE 9]>
  <link rel="stylesheet" type="text/css" href="plugins/jquery-ui/jquery.ui.1.10.2.ie.css"/>
<![endif]-->

<!-- Theme -->
<link href="/public/assets/css/main.css" rel="stylesheet" type="text/css" />
<link href="/public/assets/css/plugins.css" rel="stylesheet" type="text/css" />
<link href="/public/assets/css/responsive.css" rel="stylesheet" type="text/css" />
<link href="/public/assets/css/icons.css" rel="stylesheet" type="text/css" />

<!-- Dashboard -->
<link href="/public/assets/css/metro.css" rel="stylesheet" type="text/css">

<link href="/public/assets/css/fontawesome/font-awesome.min.css" rel="stylesheet" />
<!--[if IE 7]>
  <link rel="stylesheet" href="public/css/fontawesome/font-awesome-ie7.min.css">
<![endif]-->

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

<!--=== JavaScript ===-->
<script src="/public/assets/js/libs/jquery-1.12.4.js" type="text/javascript"></script>
<script src="/public/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
<script src="/public/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/public/assets/js/libs/lodash.compat.min.js" type="text/javascript"></script>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="assets/js/libs/html5shiv.js"></script>
<![endif]-->

<!-- Smartphone Touch Events -->
<script src="/public/plugins/touchpunch/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
<script src="/public/plugins/event.swipe/jquery.event.move.js" type="text/javascript"></script>
<script src="/public/plugins/event.swipe/jquery.event.swipe.js" type="text/javascript"></script>

<!-- General -->
<script src="/public/assets/js/libs/breakpoints.js" type="text/javascript"></script>
<script src="/public/plugins/respond/respond.min.js" type="text/javascript"></script> <!-- Polyfill for min/max-width CSS3 Media Queries (only for IE8) -->
<script src="/public/plugins/cookie/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/public/plugins/slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/public/plugins/slimscroll/jquery.slimscroll.horizontal.min.js" type="text/javascript"></script>

<!-- Pickers -->
<script src="/public/plugins/pickadate/picker.js" type="text/javascript"></script>
<script src="/public/plugins/pickadate/picker.date.js" type="text/javascript"></script>
<script src="/public/plugins/pickadate/picker.time.js" type="text/javascript"></script>
<script src="/public/plugins/bootstrap-colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script>

<!-- Forms -->
<script src="/public/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script> <!-- Styled radio and checkboxes -->
<script src="/public/plugins/select2/select2.min.js" type="text/javascript"></script> <!-- Styled select boxes -->
<script src="/public/plugins/fileinput/fileinput.js" type="text/javascript"></script>
<script src="/public/plugins/autonumeric/autoNumeric.js" type="text/javascript"></script>
<script src="/public/plugins/timemask/alex-date-time.js" type="text/javascript"></script>

<!-- Form Validation -->
<script src="/public/plugins/validation/jquery.validate.min.js" type="text/javascript"></script>
<script src="/public/plugins/validation/additional-methods.min.js" type="text/javascript"></script>

<!-- Noty -->
<script src="/public/plugins/noty/jquery.noty.js" type="text/javascript"></script>
<script src="/public/plugins/noty/layouts/top.js" type="text/javascript"></script>
<script src="/public/plugins/noty/themes/default.js" type="text/javascript"></script>

<!-- Bootbox -->
<script src="/public/plugins/bootbox/bootbox.js" type="text/javascript"></script>

<!-- DataTables -->
<script src="/public/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="/public/plugins/datatables/dataTables.buttons.min.js" type="text/javascript"></script>
<script src="/public/plugins/datatables/buttons.flash.min.js" type="text/javascript"></script>
<!-- <script src="/public/plugins/datatables/tabletools/TableTools.min.js" type="text/javascript"></script> -->
<script src="/public/plugins/datatables/colvis/ColVis.min.js" type="text/javascript"></script>
<script src="/public/plugins/datatables/DT_bootstrap.js" type="text/javascript"></script>

<!-- DataTables Export -->
<script src="/public/plugins/datatables-export/jszip.min.js" type="text/javascript"></script>
<script src="/public/plugins/datatables-export/pdfmake.min.js" type="text/javascript"></script>
<script src="/public/plugins/datatables-export/vfs_fonts.js" type="text/javascript"></script>

<!-- Buttons Export -->
<script src="/public/plugins/buttons/buttons.html5.min.js" type="text/javascript"></script>
<script src="/public/plugins/buttons/buttons.print.min.js" type="text/javascript"></script>

<!-- App -->
<script src="/public/assets/js/app.js" type="text/javascript"></script>
<script src="/public/assets/js/plugins.js" type="text/javascript"></script>
<script src="/public/assets/js/plugins.form-components.js" type="text/javascript"></script>


<script>
$(document).ready(function(){
  "use strict";
  App.init(); // Init layout and core plugins
  Plugins.init(); // Init all plugins
  FormComponents.init(); // Init all form-specific plugins
});
</script>

<script src="/public/assets/js/form_validation.js" type="text/javascript"></script>
<script src="/public/assets/js/ui_general.js" type="text/javascript"></script>
