<div class="main-content clear-float">
  <div class="tile-area no-padding">

    <div class="row">
			<div class="col-md-12">
        <div class="tile-group no-margin no-padding" style="width: 100%">

          <!-- default
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>

          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>

          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>

          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          -->

          <!-- dashboard admin -->
          <div class="tile-large tile-big-y ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile-large ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile-wide ol-transparent" data-role="tile"></div>

        </div>
      </div>
    </div>


    <br /><br />Dashboard Admin
    <div class="row">
			<div class="col-md-12">
        <div class="tile-group no-margin no-padding" style="width: 100%">
          <div class="tile-large ol-transparent" data-role="tile"></div>
          <div class="tile-wide ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile-wide ol-transparent" data-role="tile"></div>
          <div class="tile ol-transparent" data-role="tile"></div>
          <div class="tile-wide ol-transparent" data-role="tile"></div>
          <div class="tile-wide ol-transparent" data-role="tile"></div>
        </div>
      </div>
    </div>

    <br /><br />Dashboard Investor
    <div class="row">
			<div class="col-md-6">
				<div class="widget box">
          <div class="widget-header">
            <h4>Purchase Chart</h4>
          </div>
					<div class="widget-content">
						<div id="chart_bars_vertical" class="chart"></div>
					</div>
				</div>
			</div>

      <div class="col-md-6">
				<div class="widget box">
          <div class="widget-header">
            <h4>Sale Chart</h4>
          </div>
					<div class="widget-content">
						<div id="chart_bars_vertical" class="chart"></div>
					</div>
				</div>
			</div>
    </div>

    <div class="row">
      <div class="col-md-12">
				<div class="widget box">
					<div class="widget-header">
						<h4><i class="icon-reorder"></i> Profit Statistics</h4>
					</div>
					<div class="widget-content">
						<div class="row">
							<div class="col-md-9">
								<div id="chart_multiple" class="chart"></div>
							</div>
							<div class="col-md-3">
								<div class="progress-stats">
									<span class="title"><i class="icon-puzzle-piece"></i> Puzzles Completed <span>30/50</span></span>
									<div class="progress progress-mini progress-striped">
										<div class="progress-bar progress-bar-info" style="width: 65%;"></div>
									</div>
								</div>
								<div class="progress-stats">
									<span class="title"><i class="icon-cloud-download"></i> Downloads <span>42/128 MB</span></span>
									<div class="progress progress-mini progress-success progress-striped">
										<div class="progress-bar progress-bar-success" style="width: 30%;"></div>
									</div>
								</div>
								<div class="progress-stats">
									<span class="title"><i class="icon-cloud"></i> Space <span>2961/4096 MB</span></span>
									<div class="progress progress-mini progress-warning progress-striped">
										<div class="progress-bar progress-bar-warning" style="width: 80%;"></div>
									</div>
								</div>
								<div class="spacing-10px"></div>
								<button type="button" class="btn btn-block btn-primary">Detail Transaction Report</button>
								<button type="button" class="btn btn-block btn-success">Detail Profit Report</button>
							</div>
						</div>
					</div>
					<div class="divider"></div>
					<div class="widget-content">
						<ul class="stats no-dividers">
							<li class="circular-chart-inline">
								<div class="circular-chart" data-percent="27" data-size="90">27%</div>
								<span class="description">Server Load</span>
							</li>
							<li class="circular-chart-inline">
								<div class="circular-chart" data-percent="75" data-size="90" data-bar-color="#e25856">75%</div>
								<span class="description">Used RAM</span>
							</li>
							<li class="circular-chart-inline">
								<div class="circular-chart" data-percent="10" data-size="90" data-bar-color="#8fc556">281 MB</div>
								<span class="description">Space</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>


  </div>
</div>


<script>
  $(document).ready(function(){

    // Sample Data
    var d1 = [];
    for (var i = 0; i <= 7; i += 1)
      d1.push([i, parseInt(Math.random() * 30)]);

    var d2 = [];
    for (var i = 0; i <= 7; i += 1)
      d2.push([i, parseInt(Math.random() * 30)]);

    var d3 = [];
    for (var i = 0; i <= 7; i += 1)
      d3.push([i, parseInt(Math.random() * 30)]);

    var ds = new Array();

    ds.push({
      label: "Bar #1",
      data: d1,
      bars: {
        show: true,
        barWidth: 0.2,
        order: 1
      }
    });
    ds.push({
      label: "Bar #2",
      data: d2,
      bars: {
        show: true,
        barWidth: 0.2,
        order: 2
      }
    });
    ds.push({
      label: "Bar #3",
      data: d3,
      bars: {
        show: true,
        barWidth: 0.2,
        order: 3
      }
    });

    // Initialize Chart
    $.plot("#chart_bars_vertical", ds, $.extend(true, {}, Plugins.getFlotDefaults(), {
      series: {
        lines: { show: false },
        points: { show: false }
      },
      grid:{
        hoverable: true
      },
      tooltip: true,
      tooltipOpts: {
        content: '%s: %y'
      }
    }));

  });
</script>
